@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    img {
      width: 100%;
      max-width: 500px;
      overflow: hidden;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input,
      textarea {
        padding: 15px;
        width: 300px;
        font-size: 14px;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 0 15px -8px black;
        border: 1px solid black;
      }

      input {
        height: 30px;
        font-size: 14px;
        @include mobile {
          width: 200px;
          height: 20px;
          margin-bottom: 10px;
        }
      }

      textarea {
        height: 200px;
        @include mobile {
          width: 200px;
          height: 100px;
          margin-bottom: 10px;
        }
      }

      button {
        width: 150px;
        height: 40px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.5s ease;

        &:focus {
          outline: none;
        }
        &:hover {
          background-color: rgb(253, 34, 78);
        }
      }
      span {
        color: green;
      }
    }
  }
}
